
**/.terraform/**
*.tfstate
.terraform.lock.hcl
*.tfvars
terraform.tfvars
terraform.tfstate.backup
.python_packages
__pycache__
.venv
.terraform/*
.terraform\*
.env
.venv
.funcignore
.gitignore
.vscode/*
.terraform.tfstate.lock.info